lib_managed/
project/build/target/
project/boot
project/plugins/lib_managed/
project/plugins/src_managed/
project/plugins/target/
target
compiler/lib_managed/
compiler/project/build/target/
compiler/project/boot
compiler/project/plugins/lib_managed/
compiler/project/plugins/src_managed/
compiler/project/plugins/target/
compiler/target
plugin/lib_managed/
plugin/project/build/target/
plugin/project/boot
plugin/project/plugins/lib_managed/
plugin/project/plugins/src_managed/
plugin/project/plugins/target/
plugin/target
test/lib_managed/
test/project/build/target/
test/project/boot
test/project/plugins/lib_managed/
test/project/plugins/src_managed/
test/project/plugins/target/
test/target
